extends ../include/layout
block content
    button#logout(type='button', autocomplete='off')
        i.fa.fa-sign-out.fa-fw #{__('auth.logout')}
    script.
        $('#logout').click(function() {
            $.ajax({
                url: '/logout',
                type: 'POST',
                success: function(data){
                    if (data.valid){
                        location.href = data.url
                    }
                }
            })
        })
